@model IEnumerable<FinalProjectBandits.Models.TaskListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View All Task List Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Items are sorted by the most recent item posted. Click the headers "Status" or "Category" to sort in a different way.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = 1 })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = 2 })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var MuapIndex = item.Customer.MuapIndex;
            var card = " ";
            if (MuapIndex >= 0 && MuapIndex <= 39)
            {
                card = "#dc3545";
            }
            else if (MuapIndex > 39 && MuapIndex <= 58)
            {
                card = "#ffc107";
            }
            else if (MuapIndex > 58 && MuapIndex <= 100)
            {
                card = "#28a745";
            }

            <tr bgcolor = "@card">
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>

}
        </tbody>
</table>
