@model Customer

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        opacity: 1;
        transition: 0.3s;
    }

        .btn:hover {
            opacity: 0.6
        }
</style>
<h1>Hello @Html.DisplayFor(model => model.First_Name)!</h1>
<h3>Your Tasks</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskDescription)
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = 1 })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = 2 })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].DatePosted)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        

        @foreach (var item in Model.Items.Where(t => t.CustomerID == Model.ID).ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>

            <td>
                <a asp-controller="TaskListItems" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <br />
                <a asp-controller="TaskListItems" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <br />
                <a asp-controller="TaskListItems" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
<h3>Tasks You Checked Out</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskDescription)
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = 1 })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = 2 })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].TaskStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Expiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].DatePosted)
            </th>
            
         
            <th></th>
        </tr>
    </thead>


    <tbody>


        @foreach (var item in Model.Items.Where(t => t.HelperCustomerID == Model.ID).ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                
                <td>
                    <a asp-controller="TaskListItems" asp-action="Details" asp-route-id="@item.Id"><input type="submit" value="Details" class="btn btn-primary" /></a>
                </td>
            </tr>
        }


    </tbody>
</table>
